<h1>Mi Perfil</h1>
<p>Bienvenido!, {{user.first_name}} {{user.last_name}}!</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>

<!-- Botón para volver a la lista de productos -->
<a href="/products">Volver a la lista de productos</a>

<a href="/api/sessions/logout">Logout</a>